<div class="contact-us">
  <div class="two">
    <h1>CONTACT US
      <span>Fill out the form</span>
    </h1>
  </div>
  <div class="contact-form">
<div class="card">
  <span class="title">Leave a Comment</span>
  <form class="form">
    <div class="group">
    <input placeholder="" type="text" required="">
    <label for="name">Name</label>
    </div>
    <div class="group">
    <input placeholder="" type="text" required="">
    <label for="name">Phone Number</label>
    </div>
<div class="group">
    <input placeholder="" type="email" id="email" name="email" required="">
    <label for="email">Email</label>
    </div>
<div class="group">
    <textarea placeholder="" id="comment" name="comment" rows="5" required=""></textarea>
    <label for="comment">Comment</label>
</div>
    <button type="submit">Submit</button>
  </form>
</div>

  </div>
</div>
