<div class="parent">
  <p-carousel class="carousel" [value]="listings" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
      <ng-template let-product #item>
          <div class="border m-2 p-4">
              <div class="mb-4">
                  <div class="relative mx-auto">
                      <img src="{{product.imageSource}}" [alt]="product.name" class="w-full rounded-border listing-image" />
                  </div>
              </div>
              <div class="mb-4 font-medium">{{ product.name }}</div>
              <div class="flex justify-between items-center">
                  <div class="mt-0 font-semibold text-xl">{{ '$' + product.price }}</div>
                  <span>
                    <button mat-raised-button>Hello</button>
                    <button mat-raised-button>Hello</button>
                  </span>
              </div>
          </div>
      </ng-template>
  </p-carousel>
</div>
