<!-- Remove the container if you want to extend the Footer to full width. -->

  <!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/wheatrealestateGA" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://x.com/wheatrealestate" role="button"
        ><i class="fab fa fa-x-twitter"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/atlantabroker/" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="www.linkedin.com/in/jamesawheat" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example2" class="form-control" />
              <label class="form-label" for="form5Example2">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        © 2025 Wheat Real Estate. Your trusted partner in buying, selling, and investing in property. All rights reserved.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact Us:</h5>

          <ul class="list-unstyled mb-0">
            <li>
              Team: (678) 409-7188
            </li>
            <li>
              Broker: James Wheat
            </li>
            <li>
              James&#64;WheatRealEstate.com
            </li>
            <li>
              Contact Us
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Search</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.homes.com/real-estate-agents/james-a-wheat/1h66wy6/" class="text-white">Search Properties</a>
            </li>
            <li>
              <a href="#!" class="text-white">Our Communities</a>
            </li>
            <li>
              <a href="#!" class="text-white">Get Listing Updates</a>
            </li>
            <li>
              <a href="#!" class="text-white">Buyer's Guide</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Communities</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Cumming</a>
            </li>
            <li>
              <a href="#!" class="text-white">Alpharetta</a>
            </li>
            <li>
              <a href="#!" class="text-white">John's Creek</a>
            </li>
            <li>
              <a href="#!" class="text-white">Duluth</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">About Us</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a [routerLink]="[]" (click)="scrollTo('story')" class="text-white">About Us</a>
            </li>
            <li>
              <a [routerLink]="[]" (click)="scrollTo('contact')" class="text-white">Meet Our Team</a>
            </li>
            <li>
              <a [routerLink]="[]" (click)="scrollTo('contact')" class="text-white">Testimonials</a>
            </li>
            <li>
              <a [routerLink]="[]" (click)="scrollTo('contact')" class="text-white">Join Our Team</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->
</footer>
<!-- Footer -->

<!-- End of .container -->
