<div class="parent">
  <div class="heroBannerDiv">
    <img class="hero-banner" src="../../assets/hero-banner.jpg" />
    <h1 class="title">WHEAT REAL ESTATE</h1>
  </div>
  <!-- <div class="gallery">
    <img class="gallery-image left-image" src="../../assets/hero-banner.jpeg">
    <img class="gallery-image middle-image" src="../../assets/hero-banner.jpeg">
    <img class="gallery-image right-image" src="../../assets/hero-banner.jpeg">
  </div> -->
  <div class="gallery">
    <div class="hovereffect">
      <img class="img-responsive gallery-image right-image" src="../../assets/hero-banner.jpeg" alt="">
          <div class="overlay">
              <h2>Effect 13</h2>
      <p>
        <a href="#">LINK HERE</a>
      </p>
          </div>
  </div>
  </div>
  <div class="div3">Hello</div>
  <div class="div4">Hello</div>
  <div class="div5">Hello</div>
</div>
