<div class="parent">
  <div class="heroBannerDiv">
    <div class="text-container">
      <h1 class="title">WHEAT REAL ESTATE</h1>
      <h4 class="subtitle">HOME IS WHERE YOUR HEART IS</h4>
    </div>
    <img class="hero-banner" src="../../assets/hero-banner.jpg" />
  </div>

  <!-- Our Story -->

  <div class="section">
    <app-story></app-story>
  </div>

  <!-- Neighborhood Guide -->

  <div class="section">
    <app-neighborhood-guide></app-neighborhood-guide>
  </div>

  <!-- Marketing Section -->

  <div class="section">
    <app-marketing></app-marketing>
  </div>

  <!-- Process -->

  <div class="section">
    <app-process></app-process>
    <br><br>
  </div>

    <!-- Carousel -->

    <div class="section">
      <app-carousel></app-carousel>
    </div>

  <!-- Contact Component -->


</div>
