<div class="disclosures">
  <div class="title">
    <!-- Title -->
    <div class="two alt-two">
      <h1>
        Disclosures, Due Diligence, and Inspections
        <span class="marketing-subtitle"
          >These are the initial tasks once a buyer is in contract, and are most
          often done in parallel to Part 2: The mortgage process</span
        >
      </h1>
    </div>
  </div>
  <!-- Bullet points column 1 -->
  <div class="content">
    <mat-stepper class="stepper" #stepper>
      <mat-step class="step">
        <ng-template matStepLabel>START</ng-template>
        <mat-card appearance="outlined" class="card">
          <h1 class="step-text">1. An offer is accepted by the seller and a contract is signed.</h1>
        </mat-card>
      </mat-step>
      <mat-step class="step">
        <ng-template matStepLabel>ESCROW</ng-template>
        <mat-card appearance="outlined" class="card">
          <h1 class="step-text">2. Concurrently, a deposit, or earnest money, is paid to an escrow agent, buyer&#39;s attorney or
            broker (never to the seller directly).</h1>
        </mat-card>
      </mat-step>
      <mat-step class="step">
        <ng-template matStepLabel>DISCLOSURES</ng-template>
        <mat-card appearance="outlined" class="card">
          <h1 class="step-text">3. The buyer reviews and signs off on any disclosures. These disclosures vary based on
            property type, but often include things like known flaws with the property, prior
            improvements or repairs, and potential environmental hazards. A form called a seller&#39;s
            disclosure of property condition (see a sample disclosure form used in Georgia here) is
            generally provided by the seller on or before the day the contract is signed. Sellers may see
            this as beneficial to themselves, and believe that buyers will build these pre-disclosed facts
            into the contract price (and thus sellers may be reluctant to provide any credits for these
            defects).</h1>
        </mat-card>
      </mat-step>
      <mat-step class="step">
        <ng-template matStepLabel>INSPECTIONS</ng-template>
        <mat-card appearance="outlined" class="card">
          <h1 class="step-text">4. The buyer elects to perform inspections on the property as part of the due diligence period
            defined in the contract. These inspections (and all due diligence) must be completed by a
            number of days specified under "buyer's right to terminate"; in the standard Georgia contract.
            The types of inspections recommended vary by property type and situation (and locale), but
            in Georgia, buyers generally order an initial inspection from a home inspector and may elect
            to perform a termite inspection.</h1>
        </mat-card>
      </mat-step>
      <mat-step class="step">
        <ng-template matStepLabel>TERMITE BOND</ng-template>
        <mat-card appearance="outlined" class="card">
          <h1 class="step-text">5. Beyond a termite inspection, some properties may be covered by a termite bond contract
            with an extermination company to protect the asset from termite damage on an ongoing
            basis.</h1>
        </mat-card>
      </mat-step>
      <mat-step class="step">
        <ng-template matStepLabel>NEGOTIATIONS</ng-template>
        <mat-card appearance="outlined" class="card">
          <h1 class="step-text">6. Based on the outcome of inspections, buyers may elect to ask the seller for repair work,
            closing cost credits, or a reduction in the sale price due to flaws that were uncovered. They
            may also request a seller to purchase a termite bond contract if one does not exist. Sellers
            have three options: agree to all of the buyer's requests, offer a modified solution back to the
            buyer, or decline to make any amends. In response, the buyer can continue to negotiate,
            accept the seller&#39;s position, or as long as they' within the due diligence period, end the
            transaction and recoup their earnest money without penalty.</h1>
        </mat-card>
      </mat-step>
      <mat-step class="step">
        <ng-template matStepLabel>WARRANTY</ng-template>
        <mat-card appearance="outlined" class="card">
          <h1 class="step-text">7. The buyer may also negotiate for a home warranty that covers major appliances from failure
            for a time period after the sale, typically a year.</h1>
        </mat-card>
      </mat-step>

    </mat-stepper>
  </div>
</div>
