<div class="parent">

  <div class="two alt-two">
    <h1>NEIGHBORHOOD GUIDE

      <span>VIEW MORE INFORMATION ABOUT THE AVAILABLE LOCATIONS:</span>
    </h1>
  </div>

  <div class="gallery">

    <!-- images -->
    <div class="hovereffect">
      <img
      class="img-responsive gallery-image"
      src="../../assets/hero-banner.jpeg"
      alt=""
      />
      <div class="overlay">
        <h2>Effect 13</h2>
        <p>
          <a href="#">LINK HERE</a>
        </p>
      </div>
    </div>
    <div class="hovereffect">
      <img
      class="img-responsive gallery-image"
      src="../../assets/hero-banner.jpeg"
      alt=""
      />
      <div class="overlay">
        <h2>Effect 13</h2>
        <p>
          <a href="#">LINK HERE</a>
        </p>
      </div>
    </div>
    <div class="hovereffect">
      <img
      class="img-responsive gallery-image"
      src="../../assets/hero-banner.jpeg"
      alt=""
      />
      <div class="overlay">
        <h2>Effect 13</h2>
        <p>
          <a href="#">LINK HERE</a>
        </p>
      </div>
    </div>

  </div>

</div>
