<div class="disclosures">
  <div class="title">
    <!-- Title -->
    <div class="two alt-two">
      <h1>
        Disclosures, Due Diligence, and Inspections
        <span class="marketing-subtitle"
          >For those borrowing to purchase their home, the mortgage process is usually the most stressful and
          opaque part of the transaction. It&#39;s best to start as early as possible and be ready to produce lots of
          documentation. The following is the general process in Georgia:</span
        >
      </h1>
    </div>
  </div>
  <!-- Bullet points column 1 -->
  <div class="content">
    <mat-stepper class="stepper" #stepper>

      <mat-step class="step">
        <ng-template matStepLabel>APPLICATION</ng-template>
        <mat-card appearance="outlined" class="card">
          <h1 class="step-text">1. A buyer submits a loan application to their lender, either directly or through a mortgage
            broker. See a sample Uniform Residential Loan Application used in Georgia.</h1>
        </mat-card>
      </mat-step>

      <mat-step class="step">
        <ng-template matStepLabel>GFE</ng-template>
        <mat-card appearance="outlined" class="card">
          <h1 class="step-text">2. Within 3 days, the lender sends a &quot;Good Faith Estimate,&quot; or GFE, to the buyer that is a
            breakdown of estimated closing costs. The final costs are likely to deviate from this
            estimate. See a sample GFE at hud.gov.</h1>
        </mat-card>
      </mat-step>

      <mat-step class="step">
        <ng-template matStepLabel>PRE-APPROVAL</ng-template>
        <mat-card appearance="outlined" class="card">
          <h1 class="step-text">3. Before the buyer is ready to write an offer, a pre-approval with a lender should be acquired.
            The buyer sends a series of personal financial disclosures to their lender.</h1>
        </mat-card>
      </mat-step>

      <mat-step class="step">
        <ng-template matStepLabel>DOCUMENTS</ng-template>
        <mat-card appearance="outlined" class="card">
          <h1 class="step-text">4. The required Personal Financial Disclosures are:
            <ul>
              <li>Several months of statements for any outstanding loans, lines of credit, or other liabilities. This also includes documentation of rent payments</li>
              <li>Up to two years of tax returns, released to the lender via an authorization submitted by the buyer</li>
              <li>Recent pay stubs and contact information for each borrower's employer</li>
              <li>Any other disclosures that are material to a borrower's financial situation</li>
              <li>Explanation of any credit inquiries</li>
              <li>Substantiation of any large deposits or cash gifts that aren't regular income</li>
              <li>Repeated and updated documentation of any of the above</li>
            </ul>
          </h1>
        </mat-card>
      </mat-step>

        <mat-step class="step">
          <ng-template matStepLabel>DECISION</ng-template>
          <mat-card appearance="outlined" class="card">
            <h1 class="step-text">5. The lender renders an approval decision, and if approved, issues a loan commitment letter,
              stating its willingness to fund the mortgage provided certain conditions are met.</h1>
          </mat-card>
        </mat-step>

        <mat-step class="step">
          <ng-template matStepLabel>CONTINGENCY</ng-template>
          <mat-card appearance="outlined" class="card">
            <h1 class="step-text">6. The financing contingency, or loan contingency is generally rolled into the due diligence
              period. Thus, removing the loan contingency is akin to letting the due diligence period expire.</h1>
          </mat-card>
        </mat-step>

        <mat-step class="step">
          <ng-template matStepLabel>APPRAISAL</ng-template>
          <mat-card appearance="outlined" class="card">
            <h1 class="step-text">7. An appraisal is ordered by the lender or mortgage broker via a central directory of appraisers
              (often called an Appraisal Management Company or AMC).</h1>
          </mat-card>
        </mat-step>

        <mat-step class="step">
          <ng-template matStepLabel>INSURANCE</ng-template>
          <mat-card appearance="outlined" class="card">
            <h1 class="step-text">8. Homeowner's insurance is purchased (or substantiated, if the property being purchased
              includes homeowner's insurance as part of association fees or similar arrangements), and
              proof of homeowner's insurance is submitted to the lender.</h1>
          </mat-card>
        </mat-step>
    </mat-stepper>
  </div>
</div>
