<div class="marketing">

  <div class="two alt-two">
    <h1>WORLD CLASS MARKETING
      <span class="marketing-subtitle">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi itaque cumque reiciendis neque sed omnis culpa, eius molestiae eaque necessitatibus ipsam sequi? Eligendi quasi expedita consequatur minus? Esse, cupiditate fuga.</span>
    </h1>
  </div><br>

    <div class="marketing-gallery">
      <div class="test"><i class="marketing-icon" src="../../assets/icons/house-chimney.svg"></i></div>
      <div class="test"></div>
      <div class="test"></div>
      <div class="test"></div>
    </div>
</div>
